/*-----------MAPAS y VARIABLES-----------------------*/
$estilogeneral: (
    background-color: black,
    font-family: 'Nunito', sans-serif,
    color: white
);

$colordetalles: rgb(131, 25, 25);

/*----------GENERAL----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body{
    font-family: map-get($estilogeneral, font-family);
}

.bold{
    font-weight: bold;
}

h1 {
    display: none;
}

.center {
    text-align: center;
}

/*-----------HEADER-----------------------*/
nav {
    background-color: map-get($estilogeneral, background-color);
}

header {
    @extend nav;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__ul {
    li {
        a {  
            text-decoration: none;
            color: map-get ($estilogeneral, color);
            font-size: 20px; 
            &:hover {
                color: $colordetalles;
            }
        }
    }
}

#menuburger {
    width: 50px;
    justify-items: end;
}

.imglogo {
    min-width: 250px;
    max-width: fit-content;
} 

/*-----------MAIN---------------------*/
/*Home*/
.imghome {
    width: 200px;
    height: 200 px;
    border-radius: 600px;
}

/*Productos*/
.tituloproductos{
    margin-top: 20px;
    text-decoration: underline;
}

.cardproducto {
  text-align: center;  

  &:hover{
    transform: scale(0.8);
  }
}

.boton {
    width: 70%;
    padding: 3px;
    background-color: white;

    &:hover{
        background-color: $colordetalles;
    }
}

.imgproductos {
    width: fit-content;
    margin: auto;
}

/*formularios*/
form {
    width: fit-content;

    imput { 
        width: 100%;
        margin-top: 7px
    }
}


/*contaco*/
#maps {
    width: fit-content;
}

/*-----------FOOTER-----------------------*/
.footer--flex {
    background-color: map-get($estilogeneral, background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__redes {
    margin-top: 75px;
    margin-left: 10px;
}

.imgredes {
    width: 25px;
    height: 25px;
    margin: 15px;
}

.footer__info {
    ul {
        list-style-type: none;
        color: map-get ($estilogeneral, color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 75px;
    }
}
    
.footer__logo {
    img {
        width: 250px;
        height: 250px;
    }
    &:hover {
        transform: scale(0.8);
    }
}

/*-----------RESPONSIVE-----------------------*/
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*CELULAR*/
@media screen and (min-width: 320px) {
    /*header*/
    .nav__ul {
        display: none;
    }
    #menuburger{
        display: block;
    }
}

/*TABLET*/
@media screen and (min-width: 1024px) {
    /*header*/
    .nav__ul {
        list-style-type: none;
        @include flex-row-center;
        column-gap: 75px;
    }
    #menuburger {
        display: none;
    }
}

/*COMPUTADORA*/
@media screen and (min-width: 1200px) {
    /*header*/
    .nav__ul {
        list-style-type: none;
        @include flex-row-center;
        column-gap: 75px;
    }
    #menuburger {
        display: none;
    }
}